<form action="/update/<%= data.id %>" method="POST">
        <table align="center" border>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" name="name" placeholder="Nombre" value="<%= data.name %>"></td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td><input type="text" name="addres" placeholder="Dirección" value="<%= data.addres %>"></td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td><input type="text" name="phone" placeholder="Teléfono" value="<%= data.phone %>"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Actualiza cliente</button></td>
                </tr> 
            </tbody>
        </table>
    </form>